@model serviceCar.Models.DbModels.Conductor

@{
    Layout = "_UsersLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Votre Profile</title>
</head>
<body>

<div>
    <h4>Conductor</h4>
    <hr />
    <dl class="row">

        <dd class = "col-sm-10">
            <p>Prènom : @Html.DisplayFor(model => model.UserNavigation.FName)</p>
        </dd>
        
        <dd class = "col-sm-10">
            <p>Nom : @Html.DisplayFor(model => model.UserNavigation.LName)</p>
        </dd>
        
        <dd class = "col-sm-10">
            <p>Login : @Html.DisplayFor(model => model.UserNavigation.Login)</p>
        </dd>
        <dd class = "col-sm-10">
            <p>Cin : @Html.DisplayFor(model => model.Cin)</p>
        </dd>
        <dd class = "col-sm-10">
            <p>Numéro de Télephone : @Html.DisplayFor(model => model.TelephoneNumber)</p>
        </dd>
        <dd class = "col-sm-10">
            <p>Adresse : @Html.DisplayFor(model => model.Adress)</p>
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.User">Editer</a>
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
