@model serviceCar.Models.DbModels.Vehicle

@{
    Layout = "_UsersLayout";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <img src="~/img/@Html.DisplayFor(model => model.Img)" />
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InUse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InUse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleConductorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleConductorNavigation.Adress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdVehicle">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
