@model IEnumerable<serviceCar.Models.DbModels.Vehicle>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InUse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleConductorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InUse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleConductorNavigation.Adress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVehicle">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVehicle">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVehicle">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
