@model serviceCar.Models.DbModels.VehicleGeneralInfo

@{
    Layout = "_UsersLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>VehicleGeneralInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatriculNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatriculNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GreyCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GreyCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChassisNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChassisNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acquisition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acquisition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InUseYr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InUseYr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Km)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Km)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVehicleGiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVehicleGiNavigation.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdVehicleGi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
