@model IEnumerable<serviceCar.Models.DbModels.VehicleReparation>

@{
    Layout = "_UsersLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdVehicleReNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVehicleReNavigation.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVehicleRe">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVehicleRe">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVehicleRe">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
