@model serviceCar.Models.DbModels.VehicleSpending

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VehicleSpending</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateSp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateSp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdConductorSpNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdConductorSpNavigation.Adress)
        </dd >
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVehicleSpNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVehicleSpNavigation.Description)
        </dd >
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSp" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
